.container {
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header {
  font-size: 6rem;
  font-weight: 700;
  color: #fccb4f;
}
.btn {
  padding: 0.75rem;
  font-size: 1.6rem;
  background: #fccb4f;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.btn:hover {
  box-shadow: 0 0 10px #fccb4f;
}
.joke {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: #f6f6ff;
  text-align: center;
}

@media (max-width: 676px) {
  .container {
    max-width: 90vw;
  }
  .header {
    font-size: 4rem;
  }
}
